@import url('https://fonts.cdnfonts.com/css/cocogoose');
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");


@font-face {
    font-family: 'cocogoose';
    src: url(fonts/cocogoose-pro.regular.ttf);
  }

* {
    overflow-x: hidden;


  }
body {
    margin: 0;
    padding: 0;

}

@media screen and  (max-width: 768px) {
    
}

.home-page {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;

}

.header {
    background: url('mooc-images/bkgrnd.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    padding: 20px;
}

.head {

    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-content: center;
    background: url('mooc-images/bkgrnd.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0 24px 0 24px;
    gap: 22px;
    height: 90vh;
}

.header-headings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 32px;
}

.header-para {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-size: 16px;
    border: 3px solid white;
    padding: 20px;
}

.header-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.header-one {
    color: tomato;
    font-family: 'COCOGOOSE', sans-serif;                                              
}

.header-two {
    font-size: 36px;
    color: tomato;
    font-family: 'COCOGOOSE', sans-serif;                                             
}

.header > p {
    border-radius: 2px;
    border-color: whitesmoke;
    padding: 10px;
    margin: 20px;
    font-family: 'COCOGOOSE', sans-serif;
                                                
}

.main {
    display: grid;
    grid-template-columns: auto;
    justify-content: space-between;
    background-color: #272A31;
    color: blanchedalmond;
    padding: 60px 20px 60px 20px;
    gap: 30px;
}

.program {
    color: whitesmoke;
    font-size: 36px;
    text-align: center;
}

.forum{
    margin: 0 auto;
    width: 95%;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    align-content: center;
    border-radius: 8px;
    padding: 30px 10px 30px 10px;
    background-color: rgba(63, 63, 58, 0.3);
    border: 3px solid #272A32;
    color: white;
    gap: 20px;
}

.forum > h3 {
    font-size: 22px;
    font-weight: bold;
    color: #ec5242;
}

.forum i {
    font-size: 35px;
}

.forum p {
    text-align: center;
    font-size: 16px;
}

.forum:hover {
    border: 3px solid #ec5242;
    
}

.join {
    padding: 20px;
    text-align: center;
    font-size: 24px;
    background-color: #ec5242;
    color: aliceblue;
    border-radius: 5px;
    border: transparent;
}

.speaker  {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    padding: 10px;
    margin: 30px 20px 30px 20px;
    border-bottom: 2px solid lightgray;
    font-family: "Lato", sans-serif;
    flex-wrap: wrap;
}

.him {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.him h4 {
    font-size: 22px;
    font-weight: bold;

}

.speaker > .him > .p {
    color: #ec5242;
}

.him hr {
    width: 20%;
}

.main-text p {
    font-size: 16px;
    color: aliceblue;
}

.more {
    border: 1px solid black;
    border-radius: 3px;
    text-align: center;
    font-size: 22px;
}

.about-page {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100vh;
    width: 100%;
    
}


.about-page-header {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-content: center;
    background: url('mooc-images/bkgrnd.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    gap: 22px;
    height: 90vh;
    padding: 0 24px 0 24px;
}

.about-page-header > P {
    text-align: center;
}

.about-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 32px;

}

.about-one {
    color: tomato;
    font-family: 'COCOGOOSE', sans-serif;        
}

.about-two {
    font-size: 36px;
    color: tomato;
    font-family: 'COCOGOOSE', sans-serif;        
}


.about-logo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px;
    border: 1px solid black;
    border-radius: 3px;
    text-align: center;
}

.about-logo > h3 {
    font-size: 36px;
}

.about-past {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    text-align: center;
    padding-bottom: 64px;
 }

 about-past h3{
     font-size: 24px;
     text-align: center;

 }

 about-past p {
    padding: 10px;
    border: 1px solid white;
 }

 .header nav ul {
     display: none;
 }

 .partners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 12px;
    background-color: black;
}

.partners > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    color: antiquewhite;
    list-style-type: none;
    gap: 8px;
    padding: 30px;
    flex-wrap: wrap;
}

.partners > hr {
    width: 10%;
    align-self: center;
}

.partners > ul > li {
    font-size: 22px;
    font-family: 'COCOGOOSE', sans-serif;
}

.partners > h3 {
    font-size: 30px;
    font-weight: bold;
    font-family: 'COCOGOOSE', sans-serif;
    color: antiquewhite;
    text-align: center;
    padding: 10px;

}

footer {
    display: none;
    flex-direction: row;
    justify-content: space-around;
    background-color: #122A12;
    padding: 20px;
    color: wheat;
}

.hamburger {
    font-size: 36px;
}

 .header .desk-nav{
     display: none;
 }

 .partners {
     display: none;
 }


@media screen and (min-width: 768px) {
    * {
    

    }

    .more {
        display: none;
    }

    .about-page {
        display: none;
    }

    .head {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 22px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        gap: 22px;
        height: 90vh;

    }

    .hamburger {
        display: none;
    }
    .header nav ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 12px;
        list-style-type: none;
        color: white;
        background-color: #122A12;
        padding: 20px;
    }

    .header nav ul li a {
        text-decoration: none;
        color: white;
    }

    .header div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .header div ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 16px;
        list-style-type: none;
    }

    .header div ul li a {
        color: black;
    }

    .header > .desk-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .header > .desk-nav > ul > li > a {
        text-decoration: none;
    }

    .head .header-headings {
        display: grid;
        grid-template-columns: auto;
        justify-content: space-between;
        gap: 22px;
    }

    .header-one, .header-two {
        font-family: 'COCOGOOSE', sans-serif;
        color: #ec5242;
                                                
    }

    .big-forum {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        gap: 8px;

    }

    .forum {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        text-align: center;

    }

    .speakers {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-around;
        gap: 12px;
    }

    .partners {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        gap: 12px;
        background-color: black;
     }
     .partners > ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
        color: antiquewhite;
        list-style-type: none;
        gap: 8px;
        padding: 30px;
        flex-wrap: wrap;
     }
     .partners > hr {
        width: 10%;
        align-self: center;
     }
     .partners > ul > li {
        font-size: 22px;
        font-family: 'COCOGOOSE', sans-serif;
     }
     .partners > h3 {
        font-size: 30px;
        font-weight: bold;
        font-family: 'COCOGOOSE', sans-serif;
        color: antiquewhite;
        text-align: center;
        padding: 10px;
     }

     footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: #122A12;
        padding: 20px;
        color: wheat;
    }

    
} 








