@import url('https://fonts.cdnfonts.com/css/cocogoose');
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

@font-face {
  font-family: 'cocogoose';
  src: url(fonts/cocogoose-pro.regular.ttf);
}

* {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .mobile-menu {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #d3d3d3;
  }

  .main > a {
    display: none;
  }

  .menu-list > li > .box > a {
    font-size: 32px;
    text-decoration: none;
  }

  .contacts > li {
    list-style-type: none;
  }

  .partners > ul > li {
    font-size: 22px;
    font-family: "Lato", sans-serif;
  }

  .cancel {
    text-align: end;
    padding: 20px;
    font-size: 32px;
    margin-right: 30px;
  }

  .home-page {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
  }

  .header {
    background: url('mooc-images/bkgrnd.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    padding: 20px;
  }

  .head {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    background: url('mooc-images/bkgrnd.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0 24px 0 24px;
    gap: 22px;
    height: 90vh;
  }

  .header-headings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
  }

  .header-para {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border: 3px solid #d3d3d3;
    padding: 20px;
    font-family: "Lato", sans-serif;;
  }

  .header-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Lato", sans-serif;;
  }

  .header-one {
    color: tomato;
    font-family: 'COCOGOOSE', sans-serif;
  }

  .header-two {
    font-size: 36px;
    color: tomato;
    font-family: 'COCOGOOSE', sans-serif;
  }

  .header > p {
    border-radius: 2px;
    border-color: #d3d3d3;
    padding: 10px;
    margin: 20px;
    font-family: 'COCOGOOSE', sans-serif;
  }

  .main {
    display: grid;
    grid-template-columns: auto;
    justify-content: space-between;
    background-color: #272a31;
    color: #d3d3d3;
    padding: 60px 20px 60px 20px;
    gap: 30px;
  }

  .program {
    color: #d3d3d3;
    font-size: 36px;
    text-align: center;
  }

  .forum {
    margin: 0 auto;
    width: 95%;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    padding: 30px 10px 30px 10px;
    background-color: rgba(63, 63, 58, 0.3);
    border: 3px solid #272a32;
    color: #d3d3d3;
    gap: 20px;
  }

  .forum > h3 {
    font-size: 22px;
    font-weight: bold;
    color: #ec5242;
  }

  .forum i {
    font-size: 35px;
  }

  .forum p {
    text-align: center;
    font-size: 16px;
  }

  .forum:hover {
    border: 3px solid #ec5242;
  }

  .join {
    padding: 20px;
    text-align: center;
    font-size: 24px;
    background-color: #ec5242;
    color: #d3d3d3;
    border-radius: 5px;
    border: transparent;
  }

  .speaker {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    padding: 10px;
    margin: 30px 20px 30px 20px;
    font-family: "Lato", sans-serif;
    flex-wrap: wrap;
  }

  .him {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .him h4 {
    font-size: 22px;
    font-weight: bold;
  }

  .p {
    color: #ec5242;
  }

  .him hr {
    width: 20%;
  }

  .main-text p {
    font-size: 16px;
    color: #d3d3d3;
  }

  .more {
    border: 1px solid black;
    border-radius: 3px;
    text-align: center;
    font-size: 22px;
  }

  .partners > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    color: #d3d3d3;
    list-style-type: none;
    gap: 8px;
    padding: 30px;
    flex-wrap: wrap;
    font-family: "Lato", sans-serif;
  }

  .header nav ul {
    display: none;
  }

  .partners {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 12px;
    background-color: black;
  }

  .partners > hr {
    width: 10%;
    align-self: flex-start;
  }

  .partners > h3 {
    font-size: 30px;
    font-weight: bold;
    font-family: "Lato", sans-serif;
    color: #d3d3d3;
    text-align: center;
    padding: 10px;
  }

  footer {
    display: none;
    flex-direction: row;
    justify-content: space-around;
    background-color: #d3d3d3;
    padding: 20px;
  }

  .hamburger {
    font-size: 36px;
  }

  .header .desk-nav {
    display: none;
  }

  .home-nav {
    display: none;
  }

}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }

  .more {
    display: none;
  }

  .join {
    display: none;
  }

  .head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 22px;
    background: url('mooc-images/bkgrnd.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
    padding: 0 124px 0 124px;
  }

  .header-headings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
  }

  .header-para {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border: 3px solid #d3d3d3;
    padding: 20px;
    font-family: ;
  }

  .header-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header-one {
    color: tomato;
    font-family: 'COCOGOOSE', sans-serif;
  }

  .header-two {
    font-size: 36px;
    color: tomato;
    font-family: 'COCOGOOSE', sans-serif;
  }

  .header > p {
    border-radius: 2px;
    border-color: #d3d3d3;
    padding: 10px;
    margin: 20px;
    font-family: 'COCOGOOSE', sans-serif;
  }

  .hamburger {
    display: none;
  }

  .main {
    display: grid;
    grid-template-columns: auto;
    justify-content: space-between;
    background-color: #272a31;
    color: #d3d3d3;
    padding: 60px 20px 60px 20px;
    gap: 30px;
    font-family: "Lato", sans-serif;
  }

  .main > p {
    text-align: center;
  }


  .home-nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 22px;
    list-style-type: none;
    color: #d3d3d3;
    background-color: #272a31;
    width: 100%;
    padding: 20px 20px 20px 182px;
    margin: 0;
 }

  .speaker {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    padding: 10px;
    margin: 30px 20px 30px 20px;
    font-family: "Lato", sans-serif;
    flex-wrap: wrap;
  }

  .home-nav ul li a {
    text-decoration: none;
    color: #d3d3d3;
  }

  .forum {
    margin: 0 auto;
    width: 95%;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
    padding: 30px 10px 30px 10px;
    background-color: rgba(63, 63, 58, 0.3);
    border: 3px solid #272a32;
    color: #d3d3d3;
    gap: 20px;
  }

  .program {
    color: #d3d3d3;
    font-size: 36px;
    text-align: center;
  }

  footer > h3 {
    color: green;
  }

  .forum > h3 {
    font-size: 22px;
    font-weight: bold;
    color: #ec5242;
  }

  .forum i {
    font-size: 35px;
  }

  .forum p {
    text-align: center;
    font-size: 16px;
  }

  .forum:hover {
    border: 3px solid #ec5242;
  }

  .partners > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    color: #d3d3d3;
    list-style-type: none;
    gap: 8px;
    padding: 30px;
    flex-wrap: wrap;
  }

  .header div ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
    list-style-type: none;
    background: url('mooc-images/bkgrnd.png');
  }

  .header div ul .call {
    border: 2px solid red;
    padding: 3px;
    text-align: center;
  }

  .header div ul li a {
    color: black;
  }

  .header > .desk-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: url('mooc-images/bkgrnd.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 20px 124px 20px 124px;
  }

  .header > .desk-nav > ul > li > a {
    text-decoration: none;
  }

  .header > .desk-nav > i {
    color: green;
    font-size: 46px;
  }

  .head .header-headings {
    display: grid;
    grid-template-columns: auto;
    justify-content: space-between;
    gap: 22px;
  }

  .big-forum {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: center;
    gap: 8px;
  }

  .speakers {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    gap: 12px;
  }

  .him {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .him h4 {
    font-size: 22px;
    font-weight: bold;
  }

  .p {
    color: #ec5242;
  }

  .him hr {
    width: 20%;
  }

  .partners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 12px;
    background-color: #272a31;
  }

  .partners > hr {
    width: 10%;
    align-self: center;
  }

  .partners > ul > li {
    font-size: 22px;
    font-family: "Lato", sans-serif;
  }

  .partners > h3 {
    font-size: 30px;
    font-weight: bold;
    font-family: "Lato", sans-serif;
    color: #d3d3d3;
    text-align: center;
    padding: 10px;
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #d3d3d3;
    padding: 20px;
  }
}
